

/* body{
    background: #000;
} */

/* 



@media screen and  (max-width: 400px) {
    body {
      background-color: red;
    }
  }


  
@media screen and (max-width: 767.98px) {
    body {
      background-color: green;
    }
  } */